/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: sans-serif;
  }
  
  /* utilities */
  
  /* content */


  header{
    display: flex;
    justify-content: center;
    padding: 15px;
  }

  #divInputText{
    display: flex;
    justify-content: center;
    padding: 15px;
  }